In [32]:
a=float(input("enter"))
if a>10:
    print("null")
    if a<10:
        print("hi")
        if a==0:
            print("by by")
else:
    print("out")

out

In [6]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [7]:
for x in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [14]:
for x in range(2,11):
    print(f"{x} multiply by 2 is : {x*2}")

2 multiply by 2 is : 4
3 multiply by 2 is : 6
4 multiply by 2 is : 8
5 multiply by 2 is : 10
6 multiply by 2 is : 12
7 multiply by 2 is : 14
8 multiply by 2 is : 16
9 multiply by 2 is : 18
10 multiply by 2 is : 20

In [15]:
for x in range(2,20,2*1):
    print(x)

2
4
6
8
10
12
14
16
18

In [19]:
for x in range(20,2,-2):
    print(x)

20
18
16
14
12
10
8
6
4

In [20]:
for x in range(20,40,2*1):
    print(x)

20
22
24
26
28
30
32
34
36
38

In [27]:
a=int(input("please enter the starting value: "))
b=int(input("please enter the ending value: "))
c=int(input("please enter the table you want: "))
for x in range(a,b,c*1):
   print(x)

3
6
9
12
15
18
21
24
27

In [31]:
a=int(input("please enter the ending value: "))
b=int(input("please enter the starting value: "))
c=int(input("please enter the table you want: "))
for x in range(a,b,-c*1):
   print(x)

30
27
24
21
18
15
12
9
6

In [38]:
a=int(input("please enetr you paper marks: "))
for x in range(1,8,a*1):
    print(x)

1